.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# 
Note.md
ssh_conf.yaml
dist.zip
_ssh_conf_pro.yaml