extends layout

block content
    h1= title
    ul
        li 
            a(href="/demo/optimize/be") optimize(服务端分配变体ID)
        //- li 
        //-     a(href="/demo/optimize/dw/") optimize(服务端分配变体ID 权重测试)
        li
            a(href="/demo/optimize/fe") optimize(客户端分配变体ID)
